<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>开发谷歌浏览器插件</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" media="screen">
    <link rel='stylesheet' type='text/css' href='css/fonts.css'>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
</head>

<body>
    <section class="main-content">
        <ul class="blog-list">
            <li>
                <h3><a href="files/one.html">浏览器介绍</a></h3>
                <p>浏览器基本简介，各个浏览器内核区别以及渲染方式</p>
            </li>
            <li>
                <h3><a href="files/two.html">入门指南</a></h3>
                <p>Hello World入门</p>
            </li>
            <li>
                <h3><a href="javascript:void(0);">调试指南</a></h3>
                <p>程序开发，必定要涉及到调试。</p>
                <p>由于不在同一个运行环境中，因此平常的方法不能用。要调试，还需要打开插件页，也就是“chrome://extensions”。点对应的插件的检查视图，就出现了调试窗口，接下来的操作就跟前面的类似了。。</p>
                <p>在插件面板右键进行检查</p>
            </li>
            <li>
                <h3><a href="files/three.html">用法指南</a></h3>
                <p>推荐360的chrome插件开发文档：http://open.chrome.360.cn/extension_dev/overview.html，有条件的可以参考谷歌浏览器开发文档(翻墙)</p>
            </li>
            <li>
                <h3><a href="javascript:void(0);">讲解例子</a></h3>
                <p>1、手机扫码访问</p>
            </li>
        </ul>
    </section>
</body>

</html>
