html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-family: 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体', Helvetica, STHeiti, Arial, sans-serif;
  vertical-align: baseline;
}
html {
  overflow-y: scroll;
}
html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  min-width: 1180px;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
ul,
li {
  list-style: none;
}
.clearfix {
  *zoom: 1;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.mt-40 {
  margin-right: 40px;
}
.mt-154 {
  margin-right: 140px;
}
.header {
  position: relative;
  overflow: hidden;
  width: 1180px;
  margin: 0 auto;
}
.header .top-logo {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 207px;
  height: 80px;
  background: url(../images/logo-top.png) no-repeat center center;
  float: left;
  cursor: pointer;
}
.header .right-container {
  float: right;
  line-height: 80px;
  font-size: 16px;
  color: #777;
}
.header .right-container span {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-right: -4px;
}
.header .right-container a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  color: #777;
  width: 145px;
  text-align: center;
  margin: 0px -2px;
  text-decoration: none;
}
.header .right-container a.selected {
  border-bottom: 3px solid #0ba9f3;
  color: #0ba9f3;
  cursor: default;
}
.header .right-container a:hover {
  color: #0ba9f3;
  cursor: pointer;
}
.footer {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #3e4244;
  height: 190px;
}
.footer .main {
  position: relative;
  width: 1180px;
  margin: 0 auto;
  font-size: 12px;
  overflow: hidden;
  *zoom: 1;
}
.footer .main .logo-footer {
  width: 188px;
  height: 190px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  background: url(../images/logo-footer.png) no-repeat 0 38px;
  float: left;
}
.footer .main .footer-center {
  display: inline-block;
  *display: inline;
  zoom: 1;
  color: #e2e1e1;
  width: 710px;
  margin-top: 54px;
}
.footer .main .footer-center ul {
  width: 100%;
}
.footer .main .footer-center ul li {
  float: left;
  list-style: none;
  width: 136px;
  text-align: center;
  border-right: 2px solid #e2e1e1;
  cursor: pointer;
  display: block;
}
.footer .main .footer-center ul li.first-li {
  width: 95px;
  text-align: left;
}
.footer .main .footer-center ul li.last-li {
  border: none;
  margin-right: 0px;
}
.footer .main .footer-center ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.footer .main .footer-center .cp {
  margin-top: 46px;
  font-size: 14px;
  width: 100%;
  text-align: left;
}
.footer .main .footer-center .cp .cp-left {
  width: 464px;
  text-align: left;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.footer .main .footer-center .cp .cp-right {
  width: 246px;
  text-align: left;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.footer .main .footer-right {
  width: 282px;
  margin: 32px auto;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
}
.footer .main .footer-right span {
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: left;
}
.footer .main .footer-right span .title {
  color: #e2e1e1;
  display: block;
  margin-top: 4px;
}
.footer .main .footer-right span .weixin {
  width: 172px;
  height: 97px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  background: url(../images/weixin.png) no-repeat 18px 0px;
}
.footer .main .footer-right span .download {
  width: 105px;
  height: 97px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  background: url(../images/client.png) no-repeat left center;
}
.banner {
  width: 100%;
  height: 195px;
  background: url(../images/banner.jpg) #0b98df no-repeat center;
}
.container {
  width: 100%;
  background-color: #f4f4f4;
  height: auto;
}
.container .center {
  width: 1180px;
  margin: 0 auto;
  height: 100%;
  background-color: #fff;
  padding: 0px 0px 30px;
}
.container .center .nav {
  width: 295px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
  border-right: 2px solid #efeded;
  height: 890px;
}
.container .center .nav ul {
  margin-top: 27px;
}
.container .center .nav ul li {
  list-style: none;
  float: left;
  width: 100%;
  height: 35px;
  line-height: 35px;
  margin-top: 20px;
  font-size: 16px;
  color: #696969;
  cursor: pointer;
}
.container .center .nav ul li:hover,
.container .center .nav ul li.selected {
  background-color: #00bbff;
  color: #fff;
}
.container .center .content {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin: 27px 0px 0px 25px;
}
.container .center .content .detail {
  width: 800px;
  display: none;
}
.container .center .content .detail.activated {
  display: block;
}
.container .center .content .detail h3 {
  border-bottom: 2px solid #ccc;
  margin-top: 12px;
}
.container .center .content .detail h3 span {
  font-size: 22px;
  line-height: 40px;
  color: #696969;
  border-bottom: 2px solid #00bbff;
  padding: 6px;
}
.container .center .content .detail .comment {
  position: relative;
  margin-top: 25px;
  color: #6f7b8d;
  line-height: 44px;
}
.container .center .content .detail .comment h4 {
  position: relative;
  font-size: 16px;
  margin-top: 30px;
}
.container .center .content .detail .comment p {
  position: relative;
  width: 770px;
  font-size: 14px;
  height: auto;
  padding-left: 30px;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-all;
}
.container .center .content .detail .comment p span {
  position: absolute;
  top: 0px;
  left: 0px;
}
