html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-family: 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体', Helvetica, STHeiti, Arial, sans-serif;
  vertical-align: baseline;
  -webkit-user-select: text;
}
a,
img {
  -webkit-touch-callout: none;
  /*禁用长按弹出系统菜单*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
html {
  overflow-y: scroll;
}
html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  min-width: 1180px;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
ul,
li {
  list-style: none;
}
.clearfix {
  *zoom: 1;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.mt-40 {
  margin-right: 40px;
}
.mt-154 {
  margin-right: 140px;
}
.header {
  position: relative;
  overflow: hidden;
  width: 1180px;
  margin: 0 auto;
}
.header .top-logo {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 207px;
  height: 80px;
  background: url(../images/logo-top.png) no-repeat center center;
  float: left;
  cursor: pointer;
}
.header .right-container {
  float: right;
  line-height: 80px;
  font-size: 16px;
  color: #777;
}
.header .right-container span {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-right: -4px;
}
.header .right-container a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  color: #777;
  width: 145px;
  text-align: center;
  margin: 0px -2px;
  text-decoration: none;
}
.header .right-container a.selected {
  border-bottom: 3px solid #0ba9f3;
  color: #0ba9f3;
  cursor: default;
}
.header .right-container a:hover {
  color: #0ba9f3;
  cursor: pointer;
}
.footer {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #3e4244;
  height: 190px;
}
.footer .main {
  position: relative;
  width: 1180px;
  margin: 0 auto;
  font-size: 12px;
  overflow: hidden;
  *zoom: 1;
}
.footer .main .logo-footer {
  width: 188px;
  height: 190px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  background: url(../images/logo-footer.png) no-repeat 0 38px;
  float: left;
}
.footer .main .footer-center {
  display: inline-block;
  *display: inline;
  zoom: 1;
  color: #e2e1e1;
  width: 710px;
  margin-top: 54px;
}
.footer .main .footer-center ul {
  width: 100%;
}
.footer .main .footer-center ul li {
  float: left;
  list-style: none;
  width: 136px;
  text-align: center;
  border-right: 2px solid #e2e1e1;
  cursor: pointer;
  display: block;
}
.footer .main .footer-center ul li.first-li {
  width: 95px;
  text-align: left;
}
.footer .main .footer-center ul li.last-li {
  border: none;
  margin-right: 0px;
}
.footer .main .footer-center ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.footer .main .footer-center .cp {
  margin-top: 46px;
  font-size: 14px;
  width: 100%;
  text-align: left;
}
.footer .main .footer-center .cp .cp-left {
  width: 464px;
  text-align: left;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.footer .main .footer-center .cp .cp-right {
  width: 246px;
  text-align: left;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.footer .main .footer-right {
  width: 282px;
  margin: 32px auto;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
}
.footer .main .footer-right span {
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: left;
}
.footer .main .footer-right span .title {
  color: #e2e1e1;
  display: block;
  margin-top: 4px;
}
.footer .main .footer-right span .weixin {
  width: 172px;
  height: 97px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  background: url(../images/weixin.png) no-repeat 18px 0px;
}
.footer .main .footer-right span .download {
  width: 105px;
  height: 97px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  background: url(../images/client.png) no-repeat left center;
}
.banner {
  position: relative;
  height: 685px;
  width: 100%;
  background: url(../images/product-banner.jpg) #1ec0fa no-repeat center center;
  overflow: hidden;
}
.banner .banner-img {
  width: 100%;
  height: 100%;
  display: block;
}
.banner .banner-cloud {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 179px;
  width: 100%;
  display: block;
  z-index: 30;
  background: url(../images/product-cloud.png) no-repeat center center;
}
.banner .banner-ad {
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -480px;
  height: 100%;
  z-index: 20;
}
.banner .banner-ad .ad-boxs {
  position: relative;
  width: 289px;
  height: 100%;
  background: url(../images/product-mobile.png) no-repeat center bottom;
}
.banner .banner-ad .ad-boxs .ad-box {
  position: absolute;
  left: 21px;
  bottom: 47px;
  width: 248px;
  height: 100%;
  overflow: hidden;
}
.banner .banner-code {
  position: absolute;
  right: 50%;
  bottom: 0px;
  margin-right: -465px;
  height: 100%;
  z-index: 20;
}
.banner .banner-code .code {
  position: relative;
  width: 436px;
  height: 100%;
  background: url(../images/product-code.png) no-repeat center center;
  text-align: center;
}
.banner .banner-code .code-img {
  position: absolute;
  left: 128px;
  bottom: 218px;
  width: 178px;
  height: 178px;
  background: url(../images/product-ad-code.png) no-repeat center center;
}
.banner .banner-ul {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 744px;
}
.banner .banner-ul li {
  width: 248px;
  float: left;
}
.banner .banner-ul li img {
  width: 100%;
  height: 100%;
}
.product-img {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  height: 764px;
}
.product-img.qualification {
  background: url(../images/product-2.jpg) #40b95f no-repeat center center;
}
.product-img.reviewed {
  background: url(../images/product-3.jpg) #f7c94f no-repeat center center;
}
.product-img.account {
  background: url(../images/product-4.jpg) #347bde no-repeat center center;
}
